body {
  background: #fafafa;
}

.App {
  width: 80%;
  max-width: 800px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  margin: 5% auto;
  border-radius: 10px;
  box-shadow: 0 0 5px lightgrey;
  padding: 5%;
  position: relative;
}
