.home {
  position: relative;
  .add {
    position: absolute;
    top: -5%;
    right: 0;
    svg g path {
      transition: fill 0.3s;
    }
    &:hover svg g path:first-child {
      fill: green !important;
    }
  }
}
